.root {
    -fx-font-family: "Avenir Next";
    -fx-background-color: #F0F4F8;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #044E54;
}

.button {
    -fx-font-family: "Avenir Next";
    -fx-background-color: #EEF4F8;
    -fx-background-redius: 4px;
    -fx-padding: 8px;
}

#errorMessage {
    -fx-text-fill: red;
}